@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Profissionais";
}

@model PortalClubeConteza.Models.UnidadeDetalhe

<div id="corpo" class="corpo">
    @Html.Partial("_BannerSection")
    <div id="contentprofissionais">
        <div id="ctpf1">
            <div id="picprofs">
                <img src="@Url.Content(string.Concat("~/Images/Unidades/", Model.Id_T020, ".jpg"))" width="400" />
            </div>
        </div>
        <div id="ctpf2">
            <div id="dadosbasicosprofs">
                <div id="textoid">@Model.RazaoSocial</div>
                <div id="descriprofs">@Model.CategoriaExibicao</div>
                <div id="botaovoucher">
                    <div class="botaovoucher">
                        @if (Session["Usuario"] != null)
                        {
                            <a href=@ViewBag.LinkVouchers> Emitir Voucher </a>
                        }
                        else
                        {
                            <a href="javascript:void(0)" data-toggle="modal" data-target="#voucherModal"> Emitir Voucher </a>
                        }
                    </div>
                </div>
                <div id="boxdescprof">
                <p>@Model.TextoPortal</p></div>
            </div>
        </div>
        <div id="ctpf3">
            <p class="contatosaude">Contato:</p>
            @foreach (var contato in Model.Contatos)
            {
                <p class="contatosaude2">@contato.Descricao</p>
            }
            <p class="especialidadesaude">Especialidade:</p>
            @foreach (var especialidade in Model.Areas)
            {
                <p class="esparea">@especialidade.Area</p>
            }
        </div>
        <div id="ctpf4">
            <div id="mapsgooglescript">
                <div></div><p class="gmaps">Mapa</p>
                <iframe width="90%" height="315" frameborder="0" style="border:0" src='@("https://www.google.com/maps/embed/v1/place?q=" + Model.Logradouro + Model.Numero + ", Guarapuava&key=AIzaSyA6f3y-xHwZhGGZmO8hfOo-3JDnSuAqZOs")' allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="voucherModal" tabindex="-1" role="dialog" aria-labelledby="voucherModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="voucherModalLabel">Emitir Voucher</h4>
            </div>
            <div class="modal-body">
                Você deve estar logado para emitir o voucher. Acesse a página de login @Html.ActionLink("clicando aqui", "Index", "Login", null, new { @style="color:#337ab7;" }).
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-simple" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
