@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Corporativo";
}

<div id="logincontent">
    <div id="inner">
        <div id="welcomebox">
            <img src="~/Content/img/logosite.png" class="welcomeimg" /></br>
            <p class="welcome" style="margin-top:10px;">Selecione seu <strong>perfil </strong>abaixo</p>
        </div>
        <div class="row">
            <div class="col-md-12" style="display: flex; justify-content: center;">
                <div class="nav-align-center">
                    <ul class="nav nav-pills" role="tablist">
                        <li class="active">
                            <a href="#usuario" role="tab" data-toggle="tab">
                                <i class="material-icons">person</i>
                                Usuário
                            </a>
                        </li>
                        <li>
                            <a href="#credenciado" role="tab" data-toggle="tab">
                                <i class="material-icons">beenhere</i>
                                Credenciado
                            </a>
                        </li>
                        <li>
                            <a href="#empresa" role="tab" data-toggle="tab">
                                <i class="material-icons">business</i>
                                Empresa
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" style="margin-top: 45px;">
                        <div class="tab-pane text-center active" id="usuario">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-signup">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://online.fwcard.com.br/fwcard/efetua_login_conteza" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("p_flow_page", "291:9010")
                                            <div class="content" style="padding-left: 30px; padding-top: 30px;">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    @Html.TextBox("p_uname", null, new { @class = "form-control", placeholder = "Login" })
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    @Html.Password("p_password", null, new { @class = "form-control", placeholder = "Senha" })
                                                </div>
                                            </div>
                                            <div class="footer text-center" style="padding-bottom: 30px;">
                                                <button class="btn btn-flutuar-cor" type="submit">Ok</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-center" id="credenciado">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-signup">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://online.fwcard.com.br/fwcard/efetua_login_conteza" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("p_flow_page", "291:9010")
                                            <div class="content" style="padding-left: 30px; padding-top: 30px;">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    @Html.TextBox("p_uname", null, new { @class = "form-control", placeholder = "Login" })
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    @Html.Password("p_password", null, new { @class = "form-control", placeholder = "Senha" })
                                                </div>
                                            </div>
                                            <div class="footer text-center" style="padding-bottom: 30px;">
                                                <button class="btn btn-flutuar-cor" type="submit">Ok</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane text-center" id="empresa">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card card-signup">
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @action = "https://online.fwcard.com.br/fwcard/efetua_login_conteza" }))
                                        {
                                            @Html.AntiForgeryToken()
                                            @Html.Hidden("p_flow_page", "291:9010")
                                            <div class="content" style="padding-left: 30px; padding-top: 30px;">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">face</i>
                                                    </span>
                                                    @Html.TextBox("p_uname", null, new { @class = "form-control", placeholder = "Login" })
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <i class="material-icons">lock_outline</i>
                                                    </span>
                                                    @Html.Password("p_password", null, new { @class = "form-control", placeholder = "Senha" })
                                                </div>
                                            </div>
                                            <div class="footer text-center" style="padding-bottom: 30px;">
                                                <button class="btn btn-flutuar-cor" type="submit">Ok</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>